*{
    margin: 0;
    padding: 0;
}
.toppage{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: black;
}
/* nav{
    position: absolute;
    width: 20%;
    height: 100vh;
    left: 0px;
    top: 0px;

    background: linear-gradient(180deg, #28B2FF 0%, #8D00CF 100%);
    background-blend-mode: multiply;

} */
button {
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
}

.sidebar {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 0px;
  margin: 10px;
  width: 72px;
  height: 100%;
  border-radius: 40px;
  background: linear-gradient(180deg, #28B2FF 0%, #8D00CF 100%);
  background-blend-mode: multiply;
  transition: width 0.4s;
}
body.open .sidebar {
  width: 210px;
}

.sidebar-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 210px;
}

.sidebar-header {
  display: flex;
  align-items: center;
  height: 72px;
  margin: 25px 0;
  padding: 0 1.25rem 0 0;
  background: rgba(0, 0, 0, 0.63);
}

.sidebar-burger {
  width: 72px;
  height: 72px;
  display: grid;
  place-items: center;
  background: url(./Asserts/icons8-menu.svg) no-repeat center center;
}

body.open .sidebar-burger {
  background: url(./Asserts/icons8-close.svg) no-repeat no-repeat center center;
  height: 20px;
}

.sidebar-logo {
  height: 100px;
}

.sidebar-menu {
  display: grid;
}

.sidebar-menu > button {
  display: flex;
  gap: 25px;
  align-items: center;
  height: 60px;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 2px;
  line-height: 1;
  padding: 0 25px;
}

/* .sidebar-menu > button.has-border {
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
  margin-bottom: 1rem;
} */

.sidebar-menu > button > img {
  width: 24px;
  height: 24px;
}

.sidebar-menu > button > span {
  color: #020202;
}

.middle{
  position: flex;
  width: 450px;
  height: 100vh;
  left: 60px;
  top: 0px;
  
  background: linear-gradient(0deg, #000000, #000000), linear-gradient(180deg, rgba(104, 9, 199, 0.6723) 0%, rgba(15, 193, 233, 0.6642) 100%);
  background-blend-mode: normal, darken;
}

.hel{
  position: absolute;
width: 62px;
height: 39px;
left: 100px;
top: 11px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 39px;
/* identical to box height */

text-align: right;
text-transform: capitalize;

background: linear-gradient(180deg, #5D04EF 0%, #5407D1 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;

}
